<!DOCTYPE html>
<html>

<head>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Beer Friends</title>

<body>
{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{% bootstrap_messages %}

<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">Beer Friends</a>
    <ul class="nav navbar-nav d-flex bd-highlight mb-3">
        <li class="nav-item p-2 bd-highlight">
            <a href="{% url 'add' %}">Add more Beer</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'user' user.username %}">{{ user.username }}</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'signup' %}">Signup</a>
        </li>
        {% endif %}
    </ul>
</nav>

<div style="margin: 10px;">
    {% block content %}{% endblock %}
</div>

</body>

</html>

